[submodule "frontend"]
	path = frontend
	url = https://github.com/rohitsriv28/employee-attendance-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/SudhaSarraf/employee-attendance-backend.git
